@using PasientApp.Models

<EditForm Model="Patient">
    <QuickGrid Items="@Patient.Conditions.AsQueryable()">
        <PropertyColumn Property="@(condition => condition)" Title="Condition"></PropertyColumn>
        <TemplateColumn Context="deleteCondition">
            <button class="btn btn-outline-danger" type="button" @onclick="()=>RemoveCondition(deleteCondition)">Slett</button>
        </TemplateColumn>
    </QuickGrid>

    <InputText @bind-Value="newCondition" placeholder="Add new condition"/>
    <button class="btn btn-primary" type="button" @onclick="AddCondition">Legg til</button>
</EditForm>

@code {
    [Parameter] public Patient Patient { get; set; } = new Patient();
    string newCondition = "";

    private void AddCondition()
    {
        if (Patient.Conditions.Contains(newCondition) == false
            && newCondition.Length > 0)
        {
            Patient.Conditions.Add(newCondition);
            newCondition = "";
        }
    }

    private void RemoveCondition(string condition)
    {
        Patient.Conditions.Remove(condition);
        newCondition = "";
    }

}
